<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Cam İşlemleri</h5>
          <div class="card-body">
          
          <form [formGroup]="categoryAdd">
              <h1 class="h3 mb-3 fw-normal">Cam Kategori Ekle</h1>
        
              <label for="floatingInput">Kategori Adı</label>
              <div class="form-floating">
                <input
                  formControlName="categoryName"
                  type="text"
                  class="form-control"
                  id="categoryName"
                  placeholder="Kategori Adı"
                />
                <button class="btn btn-danger" (click)="add()">Ekle</button>
              </div>
          </form>
          </div>
        </div>
    </div>
</div>
</div>
</div>


        
