
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <div class="copyright">
            &copy;
            {{test | date: 'yyyy'}},
            
            <a href="" target="_blank">Uysaler Group</a>. Tüm Hakları Saklıdır.
          </div>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Product By
      
      <a href="https://tr.linkedin.com/in/osmankustu  " target="_blank">Osman KUŞTU</a>.
    </div>
  </div>
</footer>
