<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Cam İşlemleri</h5>
          <div class="card-body">
          
          <form [formGroup]="brandUpdateForm">
              <h1 class="h3 mb-3 fw-normal">{{glassBrand.markaAdi}} Cam Markasını Güncelle</h1>
        
              <label for="floatingInput">Marka Id</label>
              <div class="form-floating">
                <input
                  formControlName="brandId"
                  type="text"
                  class="form-control"
                  id="brandId"
                  [(ngModel)]="glassBrand.brandId"
                  placeholder="Marka Id"
                  disabled="true"
                />
              </div> 
              
              <label for="floatingInput">Marka Adı</label>
              <div class="form-floating">
                <input
                  formControlName="markaAdi"
                  type="text"
                  class="form-control"
                  id="markaAdi"
                  [(ngModel)]="glassBrand.markaAdi"
                  placeholder="Marka Adı"
                />
                <button class="btn btn-danger" (click)="update()">Güncelle</button>
              </div>
          </form>
          </div>
        </div>
    </div>
</div>
</div>
</div>


        
