<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Veresiye Defteri</h5>
        </div>
        <div class="card-body all-icons">
         <label class="" style="color: burlywood; font-size: 22px;"for="UYARI">{{message}}</label>
          <div class="row">
            <div class="col col-md-12">
            <div class="card" style="width: 18rem; float: left; margin-left:10px; " *ngFor="let item of islemMenu">
              
                <div class="card-body">
                <div style="text-align: center;">
                    <img src="{{item.islemIcon}}" class="card-img-top" style="width: 100px; height: 100px;">
                </div>
                <h5 class="card-title" style="text-align: center;"><a href="{{item.islemUrl}}" class="btn btn-danger">{{item.islemAdi}}</a></h5>
            </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
